body {
    background-color: lightgoldenrodyellow;
}

li {
    padding: 5px;
    margin: 5px;
    background: rgb(160, 154, 154);
}

.label {
    font-weight: lighter;
    color: darkgreen;
}

.create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
}

.create-form {
    margin-bottom: 5px;
}